*{
    margin: 0px;
    padding: 0px;
}

.inicio{
    position: sticky;
    background-color: black;
    margin-bottom: 30px;
    height: 150px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.navegacao{
    display: flex;
    justify-content: space-between;
}

.menu{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu a{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 18px;
}