*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}

#titulo{
    background-color: rgb(196, 192, 192);
    padding: 130px;
    color: aliceblue;
}

.secao{
    background-color: green;
    border: 1px solid;
    margin: 30px 50px;
}

footer{
    background-color: rgb(153, 147, 147);
    padding: 52px;
    color: aliceblue;
    font-size: 25px;
}

main{
    background-color: red;
    padding: 40px;
}

p{
    margin-top: 50px;
    font-size: 20px;
}   